src/**
test/**
.vscode/**
tsconfig.json
**/*.map
test-results/
media/vendor-entry.js
Makefile
notes.md
.gitignore

node_modules/**
dist/**
!dist/extension.js
scripts/**

webview/**
tsconfig.webview.json
